[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Ubuntu Installer
GenericName=Installer
Exec=/usr/bin/single-instance /opt/UbuntuInstaller/bin/UbuntuInstaller
TryExec=/opt/UbuntuInstaller/bin/UbuntuInstaller
Icon=/usr/share/icons/hicolor/64x64/apps/UbuntuInstaller80.png
Comment= A Gui installer to daul boot Ubuntu Touch and Android
Categories=Development;
Keywords=Android;Ubuntu;daul;boot;
